POSTGRES_HOST=db
POSTGRES_DB=simul
POSTGRES_PORT=5432
POSTGRES_USER=simul_user
POSTGRES_PASSWORD=postgres

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis

RESEND_API_KEY=secret
RESEND_EMAIL=email

SMS_AERO_LOGIN=test
SMS_AERO_KEY=test
SMS_AERO_SIGN="SMS Aero"

ACCESS_SECRET_KEY=access_example_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_DAYS=30

LIVEKIT_WS_URL=wss://livekit.yourdomain.com
LIVEKIT_API_KEY=your API Key
LIVEKIT_API_SECRET=your API Secret
